name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_TIMEZONE: False
          SHOW_SHORT_INFO: False
          SHOW_UPDATED_DATE: True
          SHOW_LINES_OF_CODE: True
          SHOW_TOTAL_CODE_TIME: True
          SHOW_LOC_CHART: False
          SHOW_PROFILE_VIEWS: False
          SHOW_TITLES: False
          SHOW_LANGUAGE_PER_REPO: False
          BADGE_STYLE: for-the-badge
          
          
